@model IEnumerable<WealthMVC.Models.Portifolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Portifólio</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativos.Codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ativos.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativos.Codigo)
            </td>
        </tr>
}
    </tbody>
</table>
