@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wealth</h1><br />
    @*<p><a href="../operacoes/create">Nova Operação</a>.</p>*@
</div>
<div class="text-center">
    <h3 class="display-8"><a href="../operacoes">OPERAÇÕES</a></h3><br />
</div>
<div class="text-center">
    <h3 class="display-8"><a href="../ativos">ATIVOS</a></h3><br />
</div>
<div class="text-center">
    <h3 class="display-8"><a href="../portifolio">PORTIFÓLIO</a></h3><br />
</div>
