@using WealthMVC.Enums
@model WealthMVC.Models.Operacoes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Operacoes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label> <br />
                @Html.DropDownListFor(o => o.Tipo, Enum.GetValues(typeof(eOperacoesTipo)).Cast<eOperacoesTipo>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }))
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtivosId" class="control-label"></label>
                <input asp-for="AtivosId" class="form-control" />
                <span asp-validation-for="AtivosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
